body{
    background-color: black;
    color: yellow;
}

header{
    text-align: center;
    font-size: 40px;
    color: greenyellow;
    border-bottom: solid 5px green;
}

section {
    background-color: gray;
    padding: 30px;
    margin-top: 15px;
    display: flex;
}

.chamada_texto {
    margin-right: 4%;
}