body{
    background-color: black;
    color: yellow;
    font-family: "Teko", sans-serif;
}

header{
    text-align: center;
    font-size: 40px;
    color: greenyellow;
    border-bottom: solid 5px green;
}

section {
    background-color: gray;
    padding: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.chamada_texto {
    margin-right: 4%;
}

img {
    width: 210px;
    height: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fotos {
    display: flex;
    justify-content: center;
}